
button:hover:not(:active){
    border-left:5px solid yellowgreen;
  }
  button:active:not(:hover){
    border-left:5px solid yellowgreen;
  }

  ul
  {
    margin:auto;
    justify-content: center;
  }

  
  
 